.root {
	margin: 20px;

	& > * + * {
		margin-top: 20px;
	}

	@media (--tabletUp) {
		width: 70vw;
		max-width: 1200px;
	}
}

.form {
	max-width: 600px;
	width: 100%;
	margin: 0 auto;
	display: block;
	font-size: 1rem;

	@media (--tabletUp) {
		display: flex;
		justify-content: space-between;
	}

	& > * {
		display: block;

		@media (--tabletUp) {
			display: inline-block;
		}
	}

	& > * + * {
		margin-top: 10px;

		@media (--tabletUp) {
			margin-top: 0;
		}
	}
}

.select > span {
	width: 130px;

	@media (--tabletUp) {
		width: auto;
	}
}

.notes {
	font-size: 1rem;
	color: rgba(0, 0, 0, 0.5);

	& ul {
		list-style: none;
		margin: 0;
	}

	& li {
		margin: 0;
	}

	& li + li {
		margin-top: 0.5em;
	}
}
